*.a
*.d
*.o
*.pc
*.so
c/bin/m-box-period
c/bin/m-domain-size
c/bin/m-exray-in
c/bin/m-exray-out
c/bin/m-interior
c/bin/m-misiurewicz
c/bin/m-nucleus
c/bin/m-parent
c/bin/m-shape
c/bin/m-size
c/bin/m-wucleus
c/bin/m-circles
c/bin/m-fibonacci-phi
.cabal-sandbox
cabal.sandbox.config
dist
